.menu-panel li{
    height:50px !important;
}

.menu-panel .ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb{
    min-height:45px !important;
    margin-top:0px !important;
    padding-bottom: 0px !important;
    padding-left:50px !important;
}

.segmented-control input{
    color: darkseagreen;
    width: 100%;
    
}

.segmented-control label{
    color: darkseagreen;
}

.menu-panel{
    width:100% !important;
    height:97% !important;
    top:75px !important;
}

.menu-panel img{
    width:20px !important;
    height:20px !important;
    padding:10px !important;
}

.div_bg{
    
    background-image:url('../img/bg.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

.div_bg_second{
    
    background-image:url('../img/orange.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.div_logo {
    min-height: 130px;
    min-width: 110px;
    margin-left: auto;
    margin-right: auto;
    display : table;
}

#my-listview li a p{
    width: 100% !important;
    height: 100% !important;
    vertical-align: middle !important;
    text-align: center !important;
    position: absolute;
    display:table-cell;
    font-size: 1em !important;
    color: white;
    text-shadow: none !important;
    text-transform: none !important;
    top: 25% !important;
}

button#sort_by {
    background-color: transparent;
    border-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    border-color: #0096E2;
    color:#0096E2;
}


.page_position{
    padding-top: 25px !important;
    position: absolute;
}


.header_theme{
    height:50px !important;
    width:100% !important;
    background-color: #412d7e !important;
    border: none;
}

.header_theme a{
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none;
    margin: .5em 0 !important;
    top: 0 !important;
}

.header_theme h1{
    color:white;
    text-transform:uppercase;
}

.settings_icon{
    right:41px;
}

.index_header a{
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none;
    margin: .5em 0 !important;
    top: 0 !important;
}

.index_header{
    height:50px !important;
    width:100% !important;
    background-image:url('../img/header_div.png');
    background-color: #636468 !important;
    background:transparent;
    border: none;
    opacity:1;
}

.page_style{
    height:100% !important;
    min-height:100% !important;
}

.header_theme{
    height:50px !important;
    width:100% !important;
    background-color: #412d7e !important;
}

.ui-content{
    padding:0px !important;
}

#my-page {
    height   : 100%;
    width	 : 100%;
    position : absolute;
    margin   : 0px;
}
#my-page .ui-content{
    height: 95%;
    margin: 0px;
    padding: 0px;
}

#my-page #my-listview {
    height: 95%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px !important;
}

#my-listview li {
    height: 33.33%;
    width: 50%;
    display: inline-block;
    float:left;
    /*    margin-left: -0.6% !important;*/
    /*    margin-top: -0.2% !important;*/
}

div#fill_list {
    top: 60px !important;
    padding:0px;
    position:absolute !important;
    width:100% !important;
}


.bottom_line{
    position: absolute;
    width: 100%;
    margin-top:0px;
    height:50px;
    background-color:#FFF;
}

#search_view .bottom_line a.ui-link.ui-btn.ui-shadow.ui-corner-all.ui-first-child {
    background-color: #76BA33 !important;
    color:white;
}

#search_view .bottom_line a.ui-link.ui-btn.ui-shadow.ui-corner-all{
    border-style:solid;
    border-color:#76BA33;
    background-color:white;
    color:#76BA33;
    
}

#search_view .footer_positon a.ui-link.ui-btn {
        width: 100% !important;
    }


#my-listview li a{
    height: 100%;
    border: 0px !important;
    margin: 0px !important;
    vertical-align: middle;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size:cover;
    padding:0 !important;
}

#my-listview .ui-first-child a{
    background-image: url('../img/blue-dark.jpg');
}

#my-listview .ui-last-child{
    width:100%;
}

.second a{
    background-image:url('../img/blue-light.jpg');
}

.third a{
    background-image:url('../img/green-light.jpg');
}

.fourth a{
    background-image:url('../img/green-dark.jpg');
}

.fifth a{
    background-image:url('../img/orange.jpg');
    width:100% !important;
}


.room-range .ui-checkbox{
    margin: 0px 5px;
    border: 1px solid  #ddd;
    width: 40px;
}

.room-range .ui-checkbox label{
    text-align:center;
    font-size:10px;
}


.footer_positon{
    bottom:0px !important;
    position:absolute !important;
    width:100% !important;
    height:50px !important;
    background-color:#52544F !important;
    padding-bottom:none !important;
}

.footer_positon li a{
    background-color:#52544F !important;
    width:50% !important;
    
}

.footer_positon li a p{
    color:white;
    padding:0px;
    width:100%;
    height:100%;
}


.bottom_line  .ui-btn.ui-input-btn.ui-btn-a.ui-corner-all.ui-shadow{
    padding:2px;
    margin:5px;
}



.left_line_button .ui-btn.ui-input-btn.ui-btn-a.ui-corner-all.ui-shadow{
    width:30%;
    height:30px;
    position:absolute;
    background:#76766E;
    color:white;
    text-align:center;
    border-radius:0px;
}

.right_line_button .ui-btn.ui-input-btn.ui-btn-a.ui-corner-all.ui-shadow{
    width:30%;
    height:30px;
    position:absolute;
    right:55px;
    background:#412d7e;
    color:white;
    text-align:center;
    border-radius:0px;

}


/*Filter Page Design*/

#hometype_list label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-right {
    background-color: transparent;
    border-style: none !important;
    border-bottom-style: solid !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-color: gray !important;
}

#hometype_list{
    margin: .5em .5em !important;
}

#hometype_list label{
    border:1px! important;
}

#hometype_list .ui-page-theme-a .ui-radio-on::after{
    border-color:white !important;
    
}

.room-range{
    margin: .5em 1em !important;
}

.room-range label.ui-btn.ui-corner-all.ui-btn-inherit {
    background-color: transparent;
    border-color: black;
    border-radius: 0px !important;
    border-width: 1px !important;
    border-style:solid !important;
}

#builder_list label.ui-btn.ui-corner-all.ui-btn-inherit{
    background-color: transparent;
    border-style: none !important;
    border-bottom-style: solid !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-color: gray !important;

}

#builder_list{
     margin: .5em .5em !important;
}

#builder_list .ui-icon-check::after, html .ui-btn.ui-checkbox-on.ui-checkbox-on::after{
    background-image:url('../img/tick.png') !important;
}

#builder_list label{
    border:1px! important;
    border-width:90% !important;
}

.size_class{
    font-size:12px !important;
}
#sort .ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
    background-color: transparent;
    border-width: 1px;    border-radius: 0px;
    box-shadow: none;
    font-size:12px;
    border-color:black;
}

input[type=number] {
    disabled: true; /* Does not work */
}

#level_id .ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
    background-color: transparent;
    border-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    font-size:12px;
    border-color:black;
}

.ui-slider-track.ui-shadow-inset.ui-bar-inherit.ui-corner-all {
    border-radius: 20px;
    height: 0px;
    top: 14px !important;
    left: -40px !important;
    right: -40px !important;
    border-color: transparent;
}

.ui-slider-bg.ui-btn-active {
    height: 2px;
    box-shadow: none;
}

.ui-slider-track .ui-btn.ui-slider-handle {
    width: 12px;
    height: 12px;
    margin: -10px 0 0 -10px;
    background-color:#0096E2;
    padding: 5px;
    border-color: #0096E2;
  }

.ui-slider-track.ui-shadow-inset.ui-bar-inherit.ui-corner-all {
    height: 1px !important;
}

#filter_form_list{
    padding:0px;
    margin:0px;
}

/*Info Page Css properties*/

.info_footer_left{
    margin-left:0px !important;
    width:40%;
    padding:20px;
    top:70% !important;
    position:absolute !important;
}

.info_footer_right{
    padding:10px;
    width:60%;
    top:70% !important;
    position:absolute !important;
}

#info_content{
    width:100% !important;
    min-height:65% important;
    position:absolute !important;
    padding:20px !important;
}

label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-active.ui-checkbox-on {
    border-color: #0096E2 !important;
    color: #0096E2;
}

label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-right.ui-checkbox-on{
    color:#0096E2;
}

label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-right.ui-radio-on {
    color:#0096E2;
}

.home_type .ui-radio.ui-btn.ui-radio-off:after {
    background-color: #0096E2 !important;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: #0096E2 !important;
}
.home_type .ui-radio.ui-btn.ui-radio-on:after {
    background-color: #E9E9E9;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: tomato;
}

.left.ui-btn, label.ui-btn
{
    border-width: 0px;
    border-style: none;
}

.ui-btn.ui-checkbox-off::after
{
    background-color:#2E3349;
    opacity: 1;
    border-color: white !important;
    border-style: solid !important;
    border-width: 1px;
    border-radius:0em;
}

.ui-btn.ui-checkbox-on::after
{
    background-color:#2E3349;
    opacity: 1;
    border-color: white !important;
    border-style: solid;
    border-width: 1px;
    border-radius:0em;
}


#builder_list .ui-btn.ui-checkbox-on::after
{
    background-color:#E9E9E9;
    opacity: 1;
    border-color: #0096E2 !important;
    border-style: solid;
    border-width: 1px;
    border-radius:0em;
}

#builder_list .ui-btn.ui-checkbox-off::after
{
    background-color:#E9E9E9 !important;
    opacity: 1;
    border-color: #0096E2 !important;
    border-style: solid;
    border-width: 1px;
    border-radius:0em;
}


/*.ui-input-btn input*/
/*{*/
/*    opacity: 1;*/
/*    background-color:red;*/
/*    color : white;*/
/**/
/*}*/

.left .ui-input-btn
{
    background-color:#7BC236 !important;
    color: white !important;
    text-shadow: none!important;
    font-weight:normal;
}

div.skip {
    position: absolute;
    right: 5px;
    width: 100px;
    height: 50px;
    margin-top:-40px;
    
}

.skip .ui-link
{
    font-weight:normal !important;
}

div.loginInfo {
    right: 5px;
    margin-top: 10px;
    display : table;
}


div.loginLogo {
    min-height: 130px;
    min-width: 110px;
    margin-left: auto;
    margin-right: auto;
    display : table;
/*    background-color : red;*/
}

div.TopTitle
{
font-family:verdana;
font-size:100%;
font-weight:normal;

}
.ui-body-inherit ,.ui-btn-inherit
{
    text-shadow: none!important;
    
}
.left.ui-btn, label.ui-btn
{
    font-weight:normal;
}


.left.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
    text-shadow: none!important;
}

.left.ui-corner-all
{
    border-radius:0em;
}


/*div{*/
/*    text-shadow: none!important;*/
/*}*/

.registration.ui-page
{
/*    background-image:url("../img/Registration-Bg.jpg");*/
/*    background-size: 100% 100%;*/
/*    background-repeat:no-repeat;*/
background-color : #BBAAEE;
}



/*General*/
.ui-header .ui-title, .ui-footer .ui-title
{
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0;
    padding: 1em 0;
    text-shadow:none;
    overflow: none;
}


a.btn-timeout.logout.ui-link.ui-btn.ui-btn-a.ui-btn-inline
{
    margin-left:40%;
}

.dialog-content > p
{
    text-align:center;
}

#popupDialogLogout-popup
{
    width: 70% !important;
    display: block;

}


/* Saved List */


#saved_list_view .ui-btn-icon-left::after, .ui-btn-icon-right::after, .ui-btn-icon-top::after, .ui-btn-icon-bottom::after, .ui-btn-icon-notext::after
{
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    top:60%;
    margin-right: 10px;
}
/****************//****************//****************//****************//****************//****************/
 

/* Left transition */
li.ui-li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
    border-top-width: 0; /* We switch to border bottom on previous list item */
    border-right-width: 1px;
}
/* Right transition */
li.ui-li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
    border-top-width: 0; /* We switch to border bottom on previous list item */
    border-left-width: 1px;
}
/* Border bottom for the previous list item during the transition*/
li.ui-li.border {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
.touch .delete {
    display: none;
}
.touch .ui-link-inherit {
    padding-right: 15px !important;
}
/* Custom styling for the popup */
#confirm {
    border: 1px solid;
    border-color: #044062; /* Fallback for older browsers */
    border-color: rgba(4,64,98,.4);
    background: #456f9a; /* Fallback for older browsers */
    background: rgba(69,111,154,.8);
    -moz-box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
    -webkit-box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
    box-shadow: 0 2px 6px rgba(69,111,154,.5), inset 0 1px rgba(255,255,255,.3), inset 0 6px rgba(255,255,255,.1), inset 0 10px 20px rgba(255,255,255,.25), inset 0 -15px 30px rgba(69,111,154,.3);
    max-width: 250px;
}
#confirm p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    margin-bottom: .75em;
}
/* Make the buttons inherit the popup border-radius (.ui-corner-all) */
#confirm div, #confirm .ui-btn-corner-all {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
#confirm #cancel {
    background-image: none;
}
#confirm .topic.ui-li-desc {
    font-size: inherit; /* The cloned topic will have class ui-li-desc so we negate the font-size settings of this class */
    text-align: center;
}

 
 


/*#filter_UI .ui-content{*/
/*      -webkit-overflow-scrolling: touch;*/
/*}*/

